.sl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.sl-texts{
    width: 40%;
    margin-bottom: 1rem;
}

.sl-title{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.pl-desc{
    margin: 20px 0px;
}

.sl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sl-desc{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width:520px) {
    .sl{
        padding: 10px;
    }

    .sl-texts{
        width: 100%;
    }

    .sl-desc{
        display: none;
    }
}